.calcHeight {
    height: calc(12vw)
}

.zeroMargin {
    margin-bottom: 0 !important;
}

.resetBackgroundColor {
    background-color: inherit !important;
}

.breadcrumbContent::before {
    content: ">" !important;
}